// css button, title, icon, elements...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  &.--center {
    margin: 0 auto;
    display: block;
  }
}
a {
  text-decoration: none;
  outline: 0;
  color: $black-cl;
  &.link {
    color: $main-cl;
    @include transition($t);
    &:hover {
      opacity: 0.6;
    }
  }
}
strong {
  font-family: gb;
}

sup {
  vertical-align: super;
  font-size: var(--body14-fs);
  line-height: var(--body14-lh);
}
sub {
  vertical-align: sub;
  font-size: var(--body14-fs);
  line-height: var(--body14-lh);
}

//================================== COLOR ===========================//
.--white-cl {
  color: $white-cl;
}
.--main-cl {
  color: $main-cl;
}
.--gray-cl {
  color: $black-cl;
}
.arrowright {
  width: 24px;
}
//================================== HEADING ===========================//
.subheading {
  font-size: var(--h3-fs);
  line-height: var(--h3-lh);
  text-transform: uppercase;
  font-family: gl;
  margin-bottom: 8px;
  &.--h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
  }
}

.heading {
  display: block;
  font-family: ob;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  text-align: center;
  &.--h0 {
    font-size: var(--h0-fs);
    line-height: var(--h0-lh);
  }
  &.--h1 {
    font-size: var(--h1-fs);
    line-height: var(--h1-lh);
  }
  &.--h2 {
    font-size: var(--h2-fs);
    line-height: var(--h2-lh);
  }
  &.--h3 {
    font-size: var(--h3-fs);
    line-height: var(--h3-lh);
  }
  &.--h4 {
    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
  }
  &.--h5 {
    font-size: var(--h5-fs);
    line-height: var(--h5-lh);
  }
  &.--lowercase {
    text-transform: none;
  }
  &.--align-left {
    text-align: left;
  }
  &.--font-body {
    font-family: $font-main;
  }
  &.--font-body-b {
    font-family: gb;
  }
}

.bodytext {
  font-family: $font-main;
  &.--body-18 {
    font-size: var(--body18-fs);
    line-height: var(--body18-lh);
  }
  &.--body-15 {
    font-size: var(--body15-fs);
    line-height: var(--body15-lh);
  }
  &.--body-14 {
    font-size: var(--body14-fs);
    line-height: var(--body14-lh);
  }
  &.--body-13 {
    font-size: var(--body13-fs);
    line-height: var(--body13-lh);
  }
  &.--body-12 {
    font-size: var(--body12-fs);
    line-height: var(--body12-lh);
  }
  &.--body-10 {
    font-size: var(--body10-fs);
    line-height: var(--body10-lh);
  }
}

/////////////////////////// BUTTON //////////////////////////

.btnmain {
  width: 220px;
  height: 54px;
  border-radius: 40px;
  background-color: $white-cl;
  @include mid(true);
  @include transition(0.5s);
  span {
    color: $black-cl;
    font-family: $ff-nu-r;
    display: inline-flex;
    align-items: center;
    @include transition(0.3s);
    &::before {
      content: "";
      @include size(11px, 11px);
      display: inline-block;
      margin-right: 10px;
      background-color: $black-cl;
      mask: url("/img/icons/arrow-black-icon.svg") no-repeat;
      -webkit-mask: url("/img/icons/arrow-black-icon.svg") no-repeat;
      mask-size: contain;
      @include transition(0.3s);
    }
  }

  &.btn-gray {
    background-color: $gray-cl;
  }

  &:hover {
    background-color: $main-cl;
    @include transition(0.5s);
    span {
      color: $white-cl;
      transform: translateX(-20px);
      @include transition(0.3s);
      &:before {
        background-color: $white-cl;
        transform: translateX(130px);
        @include transition(0.3s);
      }
    }
  }

  &.--btnFactory {
    &:hover {
      span {
        transform: translateX(-20px);
        &:before {
          transform: translateX(165px);
        }
      }
    }
  }

  &.--btnProduct {
    &:hover {
      span {
        transform: translateX(-25px);
        &:before {
          transform: translateX(170px);
        }
      }
    }
  }

  @include xs {
    width: 185px;
    height: 40px;
  }
}

/////////////////////////// TAGS //////////////////////////

/////////////////////////// SOCIAL //////////////////////////

.groupsocial {
  display: flex;
  .iconsocial {
    margin: 0 8px;
  }
}
.iconsocial {
  @include size(60px);
  border-radius: 50%;
  @include mid(true);
  position: relative;
  flex-shrink: 0;
  &:after {
    content: "";
    @include size(100%);
    background: rgba(43, 27, 78, 0.4);
    border: 1px solid rgba(129, 75, 246, 0.2);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25),
      inset 0px 1px 0px rgba(129, 75, 246, 0.2);
    backdrop-filter: blur(10px);
    flex-shrink: 0;
    border-radius: 50%;
    @include mid;
    z-index: -1;
    @include transition($t);
  }
  img {
    width: 30px;
    display: block;
    flex-basis: 0;
  }
  &:hover {
    &:after {
      border: 1px solid $white-cl;
    }
  }
  &.--small {
    @include size(40px);
    img {
      width: 20px;
      height: 18px;
      object-fit: cover;
    }
  }
  @include xs {
    @include size(50px);
    img {
      width: calc(100% - 25px);
    }
  }
}

.flickity-button {
  @include size(36px);
  position: absolute;
  background-color: $main-cl;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  left: 0;
  svg {
    width: 12px;
    @include mid;
    path {
      fill: $black-cl;
    }
  }
  &.previous {
    right: 0;
  }
}
